PORT = YOUR PORT NUMBER SHOULD BE HERE!

TYPEORM_CONNECTION = mysql
TYPEORM_HOST = host_number
TYPEORM_USERNAME = root
TYPEORM_PASSWORD = myPassword
TYPEORM_DATABASE = myDB
TYPEORM_PORT = 3306
TYPEORM_LOGGING =TRUE